<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="cs">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Nový herec</title>
</head>
<body>
<div th:replace="~{fragments/nav.html :: header}"></div>
<main class="container my-2">
    <h1 class="text-center">Přidání nového herce</h1>
    <form method="POST" th:action="@{/actor/new}" th:object="${actor}" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="name" class="form-label">Jméno herce</label>
            <input th:field="*{name}" type="text" class="form-control" id="name">
        </div>
        <div class="mb-3">
            <label for="surname" class="form-label">Přijmení herce</label>
            <input class="form-control" type="text" name="" id="surname" th:field="*{surname}">
        </div>
        <div class="mb-3">
            <label for="date" class="form-label">Datum narození</label>
            <input th:field="*{birthday}" class="form-control" id="date" type="date">
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Fotka herce</label>
            <input type="file" name="image" class="form-control" id="image">
        </div>
        <div class="mb-3">
            <label for="countries" class="form-label">Země, odkud herec pochází</label>
            <select multiple class="form-control" th:field="*{countries}" id="countries">
                <option disabled value="0">Zvolit zemi/ě</option>
                <option th:each="country : ${countryList}" th:text="${country.code}" th:value="${country.id}"></option>
            </select>
        </div>
        <div class="text-center">
            <button class="btn btn-lg">Přidat Herce</button>
        </div>
    </form>
</main>
</body>
</html>