<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="cs">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script type="text/javascript" defer th:src="@{/script/validation.js}"></script>
    <title>Přihlášení</title>
</head>
<body>
    <div th:replace="~{fragments/nav.html :: header}"></div>
    <main class="container">
        <form action="/login" method="POST">
            <h1 class="text-center my-2">Přihlášení</h1>
            <div class="mb-3">
                <label class="form-label" for="email">Email</label>
                <input class="form-control" id="email" type="email" name="username" required>
                <div class="invalid-feedback">
                    Zadejte email, který bude obsahovat znak @
                </div>
                <div class="valid-feedback">
                    Ok
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="password">Heslo</label>
                <input class="form-control" type="password" id="password" name="password">
                <div class="invalid-feedback">
                    Zadejte heslo
                </div>
                <div class="valid-feedback">
                    Ok
                </div>
            </div>
            <div>
                <input type="checkbox" class="form-check-input" name="rememberMe" id="rememberMe">
                <label for="rememberMe" class="form-check-label">Zapamatovat si</label>
            </div>
            <div class="text-center">
                <button type="submit" value="Log in" class="btn">Přihlásit se</button>
            </div>
        </form>
    </main>
</body>
</html>