<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="cs">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title th:text="${movie.name}"></title>
</head>
<body>
    <div th:replace="~{fragments/nav.html :: header}"></div>
    <main class="container my-2">
        <div class="mb-3 d-flex flex-row">
            <form sec:authorize="isAuthenticated()" th:if="${!user.getMovies().contains(movie)}" th:action="@{/favourite/movie/{id}(id=${movie.id})}" method="POST">
                <button type="submit" class="btn me-2" >Přidat do oblíbených</button>
            </form>
            <form sec:authorize="isAuthenticated()" method="POST" th:unless="${!user.getMovies().contains(movie)}" th:action="@{/rmFavourite/movie/{id}(id=${movie.id})}">
                <button type="submit" class="btn me-2" >Odebrat z oblíbených</button>
            </form>
            <a sec:authorize="hasAnyAuthority('ADMIN', 'EDITOR')" class="btn" th:href="@{/movie/edit/{id}(id=${movie.id})}">Editovat film</a>
        </div>
        <div class="page">
            <div class="d-flex flex-row movie-detail">
                <div class="">
                    <img class="" th:src="@{/{path}(path=${movie.imagePath})}" alt="film-plakat" >
                </div>
                <div class="ms-4">
                    <h1 th:text="${movie.name}"></h1>
                    <p th:text="'Délka: ' + ${movie.length} + ' minut'"></p>
                    <p>Žánry: <a class="ref" th:href="@{/movie/genre/{id}(id=${genre.id})}" th:each="genre : ${movie.genres}" th:text="${genre.name} +' '"></a></p>
                    <p>Režisér: <a class="ref" th:href="@{/director/{id}(id=${director.id})}" th:each="director : ${movie.directors}" th:text="${director.name} + ' ' + ${director.surname} + ' '"></a></p>
                    <p>Herci: <a class="ref" th:href="@{/actor/{id}(id=${actor.id})}" th:each="actor : ${movie.actors}" th:text="${actor.name} + ' ' + ${actor.surname} + ' '"></a></p>
                    <p>Stát: <a th:href="@{/movie/country/{id}(id=${country.id})}" class="ref" th:each="country : ${movie.countries}" th:text="${country.code} + ' '"></a></p>
                    <p th:text="'Datum uvedení: ' + ${#temporals.format(movie.releaseDate, 'dd. MM. yyyy')}"></p>
                </div>
                <div>
                    <p class="h5">Hodnocení</p>
                    <div th:if="${rating != null}" class="rating" th:text="${rating}"></div>
                    <div th:unless="${rating != null}" class="rating" th:text="'?'"></div>
                </div>
            </div>
            <div class="my-2">
                <h5>Popis</h5>
                <p class="content" th:text="${movie.description}"></p>
            </div>
        </div>
        <div>
            <h2 class="text-center text-light my-3">Recenze</h2>
            <a sec:authorize="isAuthenticated()" class="btn my-2" th:href="@{/movie/{id}/review(id=${movie.id})}">Přidat recenzi</a>
            <div th:each="review : ${reviews.content}" class="card mb-2">
                <div class="card-body">
                    <p class="content" th:text="${review.content}"></p>
                    <div class="d-flex justify-content-between">
                        <a class="ref" th:href="@{/auth/{id}(id=${review.user.id})}" th:text="${review.user.name} + ' ' + ${review.user.surname}"></a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>