<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="cs">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Nový film</title>
</head>
<body>
    <div th:replace="~{fragments/nav.html :: header}"></div>
    <main class="container my-2">
        <h3 class="text-center">Přidání nového filmu</h3>
        <form method="POST" th:action="@{/movie/new}" th:object="${movie}" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="name" class="form-label">Název filmu</label>
                <input th:field="*{name}" type="text" class="form-control" id="name">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Popis</label>
                <textarea th:field="*{description}" class="form-control" id="description" aria-describedby="emailHelp" cols="10" rows="5"></textarea>
            </div>
            <div class="mb-3">
                <label for="date" class="form-label">Datum</label>
                <input th:field="*{releaseDate}" class="form-control" id="date" aria-describedby="emailHelp" type="date">
            </div>
            <div class="mb-3">
                <label for="length" class="form-label">Délka (v minutách)</label>
                <input th:field="*{length}" type="number" class="form-control" id="length">
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Obrázek</label>
                <input type="file" name="image" class="form-control" id="image">
            </div>
            <div class="mb-3">
                <label for="genres" class="form-label">Žánry</label>
                <select multiple th:field="*{genres}" class="form-control" id="genres">
                    <option value="0" disabled>Vyberte žánry</option>
                    <option th:each="genre : ${genreList}" th:text="${genre.name}" th:value="${genre.id}"></option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label" for="actors">Herci</label>
                <select class="form-control" th:field="*{actors}" multiple id="actors">
                    <option value="0" disabled>Vyberte herce</option>
                    <option th:each="actor : ${actors}" th:text="${actor.name} + ' ' + ${actor.surname}" th:value="${actor.id}"></option>
                </select>
            </div>
            <div class="text-center">
                <button class="btn btn-lg">Přidat film</button>
            </div>
        </form>
    </main>
</body>
</html>